/**
 * Description block
 * With download link
 * Mobile then Desktop
 */
.description {
    min-height: 100vh;
    padding: 46px 32px;

    .download-btn {
        display: block;
        width: 172px;
        height: auto;
        margin: 0 auto 77px;

        img {
            display: block;
            width: 100%;
        }
    }

    .title {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 24px;

        small {
            font-size: 12px;
            font-weight: 400;
            color: #c17144;
            display: block;
            margin-bottom: 10px;
        }
    }

    .text-content {
        font-size: 12px;
        color: #929292;
        line-height: 2;

        &:first-of-type {
            margin-bottom: 22px;
        }
    }
}
