/**
 * Download
 * Mobile then Desktop
 */
.download {
    background: url('images/map.jpg') no-repeat center / cover;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 34px 32px 256px;

    .title {
        
    }
}
